{% extends "base.html" %}
{% load static %}
{% block title %}Организации{% endblock title %}
{% block main %}
<style>
/* button next, prev*/
.page-item.active .page-link
{
    columns: #fff;
    background-color: #6c757d;
    border: 1px solid #6c757d;

}

.pagination > li > a {

    background-color: #fff;
    color: #6c757d;

}

.pagination > li > a:focus,
.pagination > li > a:hover,
.pagination > span > a:focus,
.pagination > span > a:hover{

    color: #111;
    background-color: #d3d3d3;
    border: 1px solid #6c757d;
    box-shadow: none;

}
.dataTables_paginate
{
    margin-top: 15px !important;
}

li
{
	list-style: none;

}
</style>
<link rel="stylesheet" href="{% static 'organisations/css/main_table.css'%}">
		<!--Таблица организаций-->
		<div class="card shadow mt-3 bg-light col-10" style="width: 100%;margin: 0 auto;" data-bs-toggle="tooltip" data-bs-placement="center"
			title="Login">
			<div class="card-body">

				<h2 class="text-muted">Список организаций (Москва)</h2>

				<table class="table table-bordered" id="example" style="text-align: center;">
					<thead class="table-success">
						<tr style="cursor: pointer;">
							<th>Организация</th>
							<th>ИНН</th>
							<th>Вид деятельности</th>
							<th>Категория</th>
							<th>Санкции</th>
							<th>Ссылка</th>
						</tr>
					</thead>
					<!--data from db-->
				</table>
			</div>
		</div>




{% endblock main %}

{% block scripts %}

	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
	<script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
	<script src="https://cdn.datatables.net/1.12.1/js/jquery.dataTables.min.js"></script>
	<script src="https://cdn.datatables.net/1.12.1/js/dataTables.bootstrap5.min.js"></script>
	<script src="https:////cdn.datatables.net/plug-ins/1.12.1/i18n/ru.json"></script>
	<!--JS script-->
	<script>
		var table = $("#example").DataTable({
			"ajax" : "/json",
			"columns":
			[
				{"data" : "organisation_name"},
				{"data" : "organisation_inn"},
				{"data" : "organisation_okved"},
				{"data" : "organisation_category"},
				{"data" : "organisation_sanctions"},
				{"data" : "organisation_link"},
			
			],

			"language": {
				"processing": "Подождите...",
				"search": "Поиск:",
				"lengthMenu": "Показать _MENU_ записей",
				"info": "Записи с _START_ до _END_ из _TOTAL_ записей",
				"infoEmpty": "Записи с 0 до 0 из 0 записей",
				"infoFiltered": "(отфильтровано из _MAX_ записей)",
				"loadingRecords": "Загрузка записей...",
				"zeroRecords": "Записи отсутствуют.",
				"emptyTable": "В таблице отсутствуют данные",
				"paginate": {
				"first": "Первая",
				"previous": "Предыдущая",
				"next": "Следующая",
				"last": "Последняя"},},
				
			paging: true,
			pageLength: 20,
			lengthChange: false,
			autoWidth: true,
			searching: true,
			bInfo: true,
			bSort: true,

			"columnDefs": [
			{
				"targets": 5,
				"orderable": false,
				"defaultContent": "-",
                "targets": "_all"
			},
		]

	});
	$('#example').on('click', 'tr', function () {
        // переход к проекту по нажатию на  него в строке таблицы
        var data = table.row(this).data()
        var org_inn = data.organisation_inn
        document.location.href = "organisations/" + org_inn
    });

</script>
{% endblock scripts %}
