{% extends "base.html" %}
{% load static %}
{% block title %}{{ organisation_item.organisation_name }}{% endblock %}
{% block main %}
<style>
* {
   margin: 0;
   box-sizing: border-box;
}
</style>


<div class="post-wrap">
   <div class="post-item">
   <div class="item-content">
   <div class="item-body">
   <h3>Основное о компании</h3>
   <p>"{{organisation_item.organisation_name}}"</p>
   <p>{{organisation_item.organisation_principal}}</p>
   </div>
<div class="item-footer">

</div>
</div>
</div>

<div class="post-item">
<div class="item-content">
<div class="item-body">
<h3>Деятельность</h3>
<p>ОКВЭД: {{organisation_item.organisation_okved}}</p>
<p>Категория: {{organisation_item.organisation_category}}</p>

<h3>Дата регистрации/ санкции</h3>
<p>{{organisation_item.publish}}</p>
<p>Под санкциями: {{organisation_item.organisation_sanctions}}</p>
<p></p>
</div>
<div class="item-footer">

</div>
</div>
</div>

<div class="post-item">
<div class="item-content">
<div class="item-body">
<h3>Общая информация</h3>
<p>ИНН: {{organisation_item.organisation_inn}} </p>
<p>{{organisation_item.organisation_adress}}</p>
</div>
<div class="item-footer">
<a href="{{ organisation_item.organisation_link }}" class="link"><span>Ссылка</span></a>
</div>
</div>
</div>

<div class="post-item">
<div class="item-content">
<div class="item-body">
<h3>Описание</h3>
<p>{{organisation_item.organisation_description}}</p>
<p></p>
</div>
<div class="item-footer">

</div>
</div>
</div>


</div>
   <section class="text-center">
      <button type="button" class="sliding-button" data-toggle="modal"
                data-target="#editCompanyInfoModal">Редактировать</button>
   </section>
    
<div>
   
    {% include "representativePage/editCompanyModal.html" %}
</div>

{% endblock main %}
