{% extends "base.html" %}
{% load static %}

{% block title %}Портал импортозамещения{% endblock title %}

{% block main %}
<!-- Шапка главной страницы, где размещены кнопки создания проекта-->
<section class="jumbotron text-center bg-white">
    <div class="container">
        <p class="lead text-muted">Редактирование данных</p>

        <button id="update-okved" type="button" class="btn btn-outline-primary">Обновить список ОКВЭД</button>
        <button id="parse-fabricator" type="button" class="btn btn-outline-primary">Обновить список Fabricators</button>
        <br><br><br>
        <button id="update-db" type="button" class="btn btn-outline-primary">Обновление базы производителей Exel</button>
        <button id="update-product-db" type="button" class="btn btn-outline-primary">Обновление базы товаров/услуг</button>

    </div>
</section>

{% endblock main %}

{% block scripts %}

<script src="{% static 'moderatorPage/moderatorPage.js' %}"></script>
{% endblock scripts %}