{% extends "base.html" %}
{% block title %}Регистрация{% endblock title %}
{% block main %}

{% load crispy_forms_tags %}


<!--Register-->
<div class="card shadow mt-3 col-3" style="width: 50%;margin: 0 auto;" data-bs-toggle="tooltip" data-bs-placement="center"
    title="Login">
<div class="card-body">

    <div class="row justify-content-center ">
        <h1 class="">Регистрация нового пользователя</h1>
    </div>

    <div class="row justify-content-center ">
        <form method="POST">
            {% csrf_token %}
            {{ register_form|crispy }}
            <div class="text-right py-2">
                <button class="btn btn-primary" type="submit">Зарегистрироваться</button>
            </div>
        </form>
    </div>

    <div class="row justify-content-center ">
        <p class="text-center">Если у вас уже есть аккаунт, жмите сюда: <a href="{% url 'login' %}">вход</a></p>
    </div>

    </div>
</div>
{% endblock %}