{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% block title %}Портал импортозамещения{% endblock title %}


{% block main %}
<section class="jumbotron text-center bg-dark">
    <div class="container">
        <p class="head-text">Сервис по сбору и анализу информации о продукции производителей Москвы для развития импортозамещения</p>
        <div class="d1">
            <form class="input-group">
                <input type="text" class="form-control rounded" placeholder="Искать товар...">
                <button type="submit"><img src="{% static 'mainPage/img/searchArrow.svg' %}" ></button>
            </form>
        </div>
    </div>
</section>

<section class="text-center">
    <div><p class="head-text"><big>Актуальная статистика по категориям замещенной продукции</big></p></div>
        <div class="jumbotron container bg-dark mb-1">
            <div class="row">
                <div class="col-4">
                    <ol>
                        {% for category in canvaCategories %} 
                        <div class="li-text"><li>{{ category }}</li></div>
                        {% endfor %}
                    </ol>     
                </div>
        
                <div class="col-8">
                        <canvas id="myChart" width="850" height="400"></canvas>
                </div>
            </div>
        </div>
    </div>
                
</section>


<section class="text-center">

        <div><p class="head-text"><big>Зарегистрированные Вами организации</big></p></div>
        <button type="button" class="sliding-button" data-toggle="modal"
                        data-target="#addCompanyInfoModal">Добавить</button>        
</section>

<section class="jumbotron text-center bg-dark">
    <div class="album bg-dark">
    <div class="container">
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
        {% for organisation in organisations %}

        <div class="col-md-4">
            <div class="card mb-4 shadow-sm" data-bs-toggle="tooltip" data-bs-placement="left"
                 title="Информация о зарегистрированных организациях">
                <div class="card-body">
                    <h3 class="card-title"><a href="organisations/{{ organisation.organisation_inn }}">{{ organisation.organisation_name }}</a></h3>
                    <h6 class="card-subtitle mb-2 text-muted">Дата регистрации организации на портале: {{ organisation.publish }}</h6>
                    <h6 class="card-subtitle mb-2 text-muted">ОК ВЭД: </h6>{{ organisation.organisation_okved }}
                    <h6 class="card-subtitle mb-2 text-muted">Категория: </h6>{{ organisation.organisation_category }}
                    <h6 class="card-subtitle mb-2 text-muted">Директор: </h6>{{ organisation.organisation_principal }}
                    <h6 class="card-subtitle mb-2 text-muted">Адрес: </h6>{{ organisation.organisation_adress }}
                    </br>
                    <h6 class="card-subtitle mb-2 text-muted">Описание: </h6>
                    <p class="card-text" style="white-space: pre-wrap; word-wrap: break-word;">{{ organisation.organisation_description|linebreaks }}</p>

                </div>
            </div>
        </div>

        {% endfor %}
    </div>

    </div>
    </div>
</section>

</section>
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Создание проекта</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form method="POST">
                <div class="modal-body">
                    {% csrf_token %}
                    {{ form|crispy }}
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Закрыть</button>
                    <button type="submit" class="btn btn-success" name="continue">Продолжить</button>
                </div>
            </form>
        </div>
    </div>
</div>
<div>
    <div class="modal fade" id="addCompanyInfoModal" tabindex="-1" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="editModalLabel">Добавление компании</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <form method="POST">
                    <div class="modal-body">
                        {% csrf_token %}
                        {{ form|crispy }}
                     </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Закрыть</button>
                        <button type="submit" class="btn btn-success" name="continue">Отправить на модерацию</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock main %}

{% block scripts %}

<script>
    var canvaCategories = "{{canvaCategories}}";
    var canvaValues = "{{canvaValues}}";
</script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.8.0/chart.js"></script>
<script src="{% static 'mainPage/main.js' %}"></script>

{% endblock scripts %}
