{% extends "base.html" %}
{% load static %}

{% block title %}Портал импортозамещения{% endblock title %}

{% block main %}
<!-- Шапка главной страницы, где размещены кнопки создания проекта-->
<section class="jumbotron text-center bg-white">
    <div class="container">
        <p class="lead text-muted">Сервис по сбору и анализу информации о продукции производителей Москвы для развития импортозамещения</p>

        <div class="input-group">
            <input type="search" class="form-control rounded" placeholder="Товар или услуга" aria-label="Search" aria-describedby="search-addon" />
            <button type="button" class="btn btn-outline-primary">Поиск</button>
        </div>
    </div>
</section>


<div class="album py-2 bg-light">
    <div class="container">
    {% for product in products %}
        <h2>
            <a href="{{ product.publish }}/{{ product.slug }}">{{ product.product_name }}</a>
        </h2>
        <p class="date">
            Published {{ product.publish }} by {{ product.author }}
        </p>
        {{ product.product_info|truncatewords:30|linebreaks }}
    {% endfor %}

    </div>
</div>


{% endblock main %}

{% block scripts %}

<script src="{% static 'mainPage/main.js' %}"></script>
{% endblock scripts %}