/* BG */
.bg1 {
    background: #323336;
}

#toTop {
    width:100px;
    border:1px solid #ccc;
    background:#f7f7f7;
    text-align:center;
    padding:5px;
    position:fixed;
    bottom:10px; /* отступ кнопки от нижнего края страницы*/
    left:10px;
    cursor:pointer;
    display:none;
    color:#333;
    font-family:verdana;
    font-size:11px;
    z-index: 999999;
}
/* up place*/
html,
body {
    height: 100%;
    margin: 0;
    max-width: 100%;
}

.wrapper
{
    min-height: 100%;
    margin-bottom: -50px;
}
/* down place*/
#footer,
.push{
    height: 20px;

}


.sliding-button {
    text-decoration: none;
    color: black;
    display: inline-block;
    position: relative;
    padding: 15px 30px;
    border: 1px solid;
    border-image: linear-gradient(180deg,  #048f37, #177903, #065a02, #216001);
    border-image-slice: 1;
    margin: 10px 20px;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    overflow: hidden;
    letter-spacing: 2px;
    transition: .8s cubic-bezier(.165, .84, .44, 1);
}
.sliding-button:before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    height: 0;
    width: 100%;
    z-index: -1;
    color: black;
    background: linear-gradient(180deg, #048f37, #177903, #065a02, #216001);
    transition: .8s cubic-bezier(.165, .84, .44, 1);
}
.sliding-button:hover {
    color: rgb(237, 237, 237);
    background: rgba(255, 255, 255, 0);
}
.sliding-button:hover:before {
    bottom: 0%;
    top: auto;
    height: 100%;
}



.head-text {
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;

}

.search-btn {
background: #49844A;
border-radius: 8px;

font-family: 'DM Sans';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 24px;
text-align: right;
color: #FFFFFF;
}

.container-4{
    -webkit-border-top-right-radius: 5px;
    -webkit-border-bottom-right-radius: 5px;
    -moz-border-radius-topright: 5px;
    -moz-border-radius-bottomright: 5px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
   
    border: none;
    background: #232833;
    height: 50px;
    width: 50px;
    color: #4f5b66;
    opacity: 0;
    font-size: 10pt;
   
    -webkit-transition: all .55s ease;
    -moz-transition: all .55s ease;
    -ms-transition: all .55s ease;
    -o-transition: all .55s ease;
    transition: all .55s ease;
}

form {
    position: relative;
    width: 100%;
    margin: 0 auto;
}
.d1 input {
    /* width: 100%; */
    height: 42px;
    padding-left: 10px;
    border: 2px solid #49844A;
    border-radius: 5px;
    outline: none;
    background: #ffffff;
    color: #0f0000;
}
.d1 button {
    position: absolute; 
    top: 0;
    right: 0px;
    width: 42px;
    height: 42px;
    border: none;
    background: #49844A;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
}


/*организация*/
body {
    background: #39383F;
    font-family: 'Montserrat Alternates', sans-serif;
 }
 .post-wrap {
    max-width: 1120px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
 }
 .post-item {
    padding: 15px;
    cursor: pointer;
 }
 .post-item * {
    transition: .3s linear;
 }
 .item-content {
    background: #616064;
    padding: 40px;
 }
 .item-icon {
    margin-bottom: 20px;
 }
 .item-icon:before {
    content: "";
    font-family: FontAwesome;
    color: #F09EA3;
    font-size: 50px;
    line-height: 1;
 }
 .item-icon.photo:before {
    content: "\f030";
 }
 .item-icon.video:before {
    content: "\f03d";
 }
 .item-icon.gift:before {
    content: "\f06b";
 }
 .item-icon.group:before {
    content: "\f0c0";
 }
 .item-icon.tree:before {
    content: "\f1bb";
 }
 .item-icon.anchor:before {
    content: "\f13d";
 }
 .post-item:hover .item-icon, .post-item:hover .item-body h3, .post-item:hover .item-body p {
    transform: translateY(-8px);
 }
 .item-body {
    color: #fff1e2;
    font-size: 17px;
 }
 .item-body h3 {
    font-weight: 500;
    margin-bottom: 15px;
    transition-delay: .05s;
 }
 .item-body p {
    transition-delay: .1s;
 }
 .item-footer {
    padding-top: 15px;
 }
 .link {
    text-decoration: none;
    display: inline-block;
    overflow: hidden;
    position: relative;
    padding-right: 30px;
    font-size: 12px;
    text-transform: uppercase;
    font-weight: 600;
    color: #F5E2CD;
 }
 .link:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    bottom: 0;
    height: .125rem;
    margin: auto;
    background: #F09EA3;
    transform: scaleX(.2);
    transform-origin: left center;
    z-index: 0;
    transition: .6s cubic-bezier(.6, .01, 0, 1);
 }
 .link span {
    display: inline-block;
    position: relative;
    transform: translateX(-200%);
    transition: .6s cubic-bezier(.6, .01, 0, 1);
 }
 .post-item:hover .link span {
    transform: translateX(0%);
 }
 .post-item:hover .link:before {
    transform-origin: right center;
 }
 @media (min-width: 768px) {
    .post-item {
       flex-basis: 50%;
       flex-shrink: 0;
    }
 }
 @media (min-width: 960px) {
    .post-item {
       flex-basis: 33.333333333%;
    }
 }

canvas {
   display: block;
   margin: 0 auto;
}